.container6 {
  content: "";
  background-image: url("../../../public/background.jpg");
  background-size: cover;
  background-repeat: "no-repeat";
  background-position: center;
  max-height: max-content;
  display: "flex";
  justify-content: center;
  margin-top: 5rem;
}

.container6 form {
  background-color: rgb(219, 228, 239, 0.7);
  display: flex;
  flex-direction: column;
  width: 45rem;
  margin-left: 19rem;
  justify-content: space-around;
  align-items: center;
 
}

.container6 label {
  font-size: 20px;
  font-weight: bold;
}
.container6 input {
  padding: 1rem;
  background-color: rgb(32, 34, 44);
  border: none;
  color: white;
  font-size: 20px;
}
.contact textarea {
  background-color: rgb(32, 34, 44);
  color: white;
  border: none;
  font-size: 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  width: 70%;
}


.heading {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.heading h1 {
  font-size: 2.5rem;
}
.heading h2 {
  margin-top: 1rem;
  font-size: 2rem;
}

.container6 button {
  padding: 0.8rem;
  font-size: 1.5rem;
  font-weight: bold;
  width: 70%;
  margin: 1rem 0 3rem 0.2rem;
  background-color: rgb(219, 228, 239);
  border: none;
  cursor: pointer;
}

@media (max-width: 1025px){
  .heading h1 {
    font-size: 1.5rem;
  }
  .heading h2 {
    font-size: 1rem;
  }
  .container6 form{
    margin-left: 0;
    padding: 2rem;
    height: 30rem;
    width: 30rem;
  }

  .container6{
    align-items: center;
    justify-content: center;
    
  }

  .container6 input {
    padding: 0.5rem;
    
  }


}

@media (max-width: 549px){
  .container6 form{
    width: 20rem;
  }
  .container6 input {
    padding: 0.1rem;
    margin: 0.1rem 0;   
  }
  .contact{
    width: 50%;
  }
}
