.container {
  background-color: rgb(219, 228, 239);
}

.agent{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 15rem;
}
.agent p{
  text-align: center;
  background-color: rgb(32, 34, 44);
  width:20rem ;
  padding: 0.5rem;
  margin: 1rem 0;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}

@media (max-width: 1500px){
  .agent{  
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}




